.input {
	display: block;
	height: 41px;
	color: #48cbe8;
	background: #fff;
	border: 1px solid rgb(72, 203, 232);
	border-radius: 4px;
  margin-bottom: 10px;
	outline: none;
  font-family: 'fira_sanslight';
}
.input{
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
	font-size: 14px;
	width: 100%;
	padding: 12px 12px;
}
.form-group {
	margin-bottom: 12px;
}
.has-error{
	background-color: #fad2d1 !important;
	border-color: #f97e76 !important;
}
.has-success{
	background-color: none;
	border-color: #3c763d;
}

/* _____________ // file upload _________ */
.fileupload-wrapper {
  width: 100%;
  position: relative;
}
.fileupload-lable{
	display: block;
  width: 52px;
  height: 41px;
	position: absolute;
  right: 0;
	background: url(image/load.png) 10px 7px no-repeat;
	background-color: #48cbe8;
	border-radius: 0 4px 4px 0;
}
.fileupload{ /* хак, взятый из html5boilerplate */
	border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* _____________ // file upload end _________ */

/* _____________ тултипы _________ */
.qtip-mystyle{
	background-color: #f97e76;
	border-color: #f97e76;
	font-family: 'Arial';
	color: #ffffff;
	font-size: 13px;
}
/* _____________ // тултипы ______ */

/*=============меняем placeholder================*/
.input::-webkit-input-placeholder,
               -moz-input-placeholder,
               -o-input-placeholder,
               -ms-input-placeholder  {
  color: #48cbe8;
}
